
    <div class="wrapper swiper mySlider">
      <ul class="list swiper-wrapper">
        <li class="item blue swiper-slide">1</li>
        <li class="item red swiper-slide">2</li>
        <li class="item brown swiper-slide">3</li>
        <li class="item tomato swiper-slide">4</li>
        <li class="item greene swiper-slide">5</li>
        <li class="item yellow swiper-slide">6</li>
        <li class="item violet swiper-slide">7</li>
        <li class="item gray swiper-slide">8</li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
<Section class="customer-reviews">
    <div class="customer-reviews__wrap ">
        <ul class="customer-reviews__list">
            <li class="customer-reviews__item">
                <img class="customer-reviews__photo" src="#" alt="">
                <div class="customer-reviews__text-box">
                    <p class="customer-reviews__text"></p>
                </div>
                <h3 class="customer-reviews__name"></h3>
            </li>
              <li class="customer-reviews__item">
                <img class="customer-reviews__photo" src="#" alt="">
                <div class="customer-reviews__text-box">
                    <p class="customer-reviews__text"></p>
                </div>
                <h3 class="customer-reviews__name"></h3>
            </li>
              <li class="customer-reviews__item">
                <img class="customer-reviews__photo" src="#" alt="">
                <div class="customer-reviews__text-box">
                    <p class="customer-reviews__text"></p>
                </div>
                <h3 class="customer-reviews__name"></h3>
            </li>
        </ul>
      </div>
</Section>