<header>
    <div class="container">
        <div class="top-header">
            <svg>
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
            <button type="button" class="menu-btn" data-menu-visible="0">
                <svg>
                    <use href="./images/icons.svg#icon-ep_close" class="menu-btn__icon opened-icon visually-hidden"></use>
                    <use href="./images/icons.svg#icon-eva_menu-fill" class="menu-btn__icon closed-icon"></use>
                </svg>
            </button>
        </div>

        <div class="menu closed">
            <ul class="menu__list">
                <li class="menu__list__item">Home</li>
                <li class="menu__list__item">How it's made?</li>
                <li class="menu__list__item">Products</li>
                <li class="menu__list__item">Contact</li>
            </ul>
        </div>
    </div>
</header>

<div class="hero">
    <p>Ice cream made with passion</p>
    <button type="button">Products</button>
    <button type="button">How it's made?</button>
</div>