<!-- <div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg width="11" height="11">
        <use href="./images/icons.svg#icon-cros"></use>
      </svg>
    </button>

 
    <p>Chololate icecream</p>
    <img src="#" alt="icecream" />
    <ul>
      <li>
        <span>320</span>
        <span>kcal</span>
      </li>
      <li>
        <span>4g</span>
        <span>Prote...</span>
      </li>
      <li>
        <span>8,2g</span>
        <span>Fats</span>
      </li>
      <li>
        <span>40,4g</span>
        <span>Carbs</span>
      </li>
    </ul>

    <p>Ingredients</p>
    <ul>
      <li>
        <p>Milk</p>
        <p>100ml</p>
      </li>
      <li>
        <p>Belgian chocolate</p>
        <p>20g</p>
      </li>
      <li>
        <p>Cream</p>
        <p>150 ml</p>
      </li>
      <li>
        <p>Cocoa powder</p>
        <p>30g</p>
      </li>
      <li>
        <p>Sugar</p>
        <p>40g</p>
      </li>
      <li>
        <p>Vanilla sugar</p>
        <p>10g</p>
      </li>
    </ul>


    <form class="modal-form">
      <div class="modal-form__field">
        <label for="user-name" class="modal-form__label"></label>

        <input
          class="input"
          type="text"
          name="user-name"
          required
          id="user-name"
          placeholder="Name"
        />
      </div>
      <div class="modal-form__field">
        <label for="user-tel" class="modal-form__label"></label>

        <input
          class="input"
          type="tel"
          name="user-tel"
          required
          id="user-tel"
          placeholder="Phone"
        />
      </div>

      <div class="modal-text-field">
        <label for="user-coment" class="modal-form__label"
          ><span>Comment</span></label
        >
        <textarea
          name="user-coment"
          id="user-coment"
          placeholder="Commen"
          class="modal-text"
        ></textarea>
      </div>
      <button class="submit-btn button" type="submit">Submit</button>
    </form>
  </div>
</div> -->
