.gallery .container {
    width: 100%;
    
    height: 1000px;
   position: relative;
   @include mobile {
    background-image: url(/src/images/backgroud_mob.jpg);
    
    @include retina {
    background-image: url(/src/images/backgroud_mob-2x.jpg);
    }
   }
   
    @include tablet {
        background-image: url(/src/images/background-tab.jpg);

        @include retina {
            background-image: url(/src/images/background_tab-2x.jpg);
        }
    }

     @include desktop {
    background-image: url(/src/images/backgroud.jpg);

    @include retina {
        background-image: url(/src/images/backgroud-2x.jpg);
    }
    }   
        
}

.gallery__box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20%);


    margin: 0 auto;
    width: 700px;
    border-radius: 15px;
    overflow: hidden;
}


.gallery__imag {
 width: 100%;

}

//---------- swiper-pagination--------

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    background-color: rgb(109, 141, 80);
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

// ________________advanteges______________

// .customer-reviews {}

.customer-reviews__pre-wrap {
    margin-bottom: 500px;
}
// .customer-reviews__wrap {


.customer-reviews__list.swiper-wrapper {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.customer-reviews__item {
    outline: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-width: 600px;

}

.customer-reviews__text-box {
    margin: o auto;
    width: 600px;
    padding: 0 20;
    border-radius: 10px;
    background-color: var(--primery-background-color);
}

// .customer-reviews__imag {}



// .customer-reviews__text {}

// .customer-reviews__name {}





